on:
  workflow_call:
    inputs:
      build-number:
        description: Build number for build
        type: string
        required: true
      build-name:
        description: Build name for build
        type: string
        required: true
      keystore-file:
        description: Path to the keystore file
        type: string
        default: android/main.keystore
      key-properties-file:
        description: Path to the .properties file for signing config
        type: string
        default: android/key.properties
      java-version:
        description: Java version for build
        type: string
        default: '17'
      ruby-version:
        description: Ruby version for installing fastlane
        type: string
        default: '3.4'
      build-options:
        description: Additional options for `flutter build` command
        type: string
        default: ''
      wif-audience:
        description: Workload Identity Federation Audience
        type: string
    secrets:
      keystore_base64:
        description: Base64 encoded keystore file
        required: true
      key_properties_base64:
        description: Base64 encoded .properties file for signing config
        required: true
      google_services_json_base64:
        description: Base64 encoded google-services.json
        required: false
      wif_provider:
        description: Workload Identity Federation provider ID
        required: true
      wif_service_account:
        description: Workload Identity Federation service account
        required: true

jobs:
  build-android:
    name: Build Android
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Init Flutter SDK
        uses: chika3742/setup-fvm@v3

      - uses: actions/setup-java@v5 # for Android build
        with:
          distribution: zulu
          java-version: ${{ inputs.java-version }}

      - name: Import Secrets
        run: |
          base64 -d <<< "${{ secrets.keystore_base64 }}" > ./${{ inputs.keystore-file }}
          base64 -d <<< "${{ secrets.key_properties_base64 }}" > ./${{ inputs.key-properties-file }}
          if [ -n "${{ secrets.google_services_json_base64 }}" ]; then
            base64 -d <<< "${{ secrets.google_services_json_base64 }}" > ./android/app/google-services.json
          fi

      - name: Build
        run: |
          fvm flutter build appbundle\
            --build-number ${{ inputs.build-number }}\
            --build-name=${{ inputs.build-name }}\
            ${{ inputs.build-options }}

      - name: Upload Artifact
        uses: actions/upload-artifact@v6
        with:
          name: android-build
          path: |
            ./build/app/outputs/bundle/release/app-release.aab
            ./build/app/intermediates/merged_native_libs/release/mergeReleaseNativeLibs/out/lib/**
            ./build/app/outputs/mapping/release/mapping.txt

      - name: Delete Secrets
        if: always()
        run: |
          rm -f "./${{ inputs.keystore-file }}" \
                "./${{ inputs.key-properties-file }}"

  deploy-android:
    name: Deploy Android
    needs: build-android
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v6

      - name: Download Artifact
        uses: actions/download-artifact@v7
        with:
          name: android-build
          path: ./build/app

      - uses: ruby/setup-ruby@v1 # for fastlane
        with:
          ruby-version: ${{ inputs.ruby-version }}

      - name: Install Fastlane
        run: bundle install

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v3
        with:
          workload_identity_provider: ${{ secrets.wif_provider }}
          service_account: ${{ secrets.wif_service_account }}
          audience: ${{ inputs.wif-audience }}

      - name: Deploy to Play Store
        working-directory: android
        run: bundle exec fastlane upload
